
@{
    ViewBag.Title = "About";
}


<nav>
    <ul>
        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
        <li>@Html.ActionLink("Contact Page", "Contact", "Home")</li>
        <li>@Html.ActionLink("About Page", "About", "Home")</li>
    </ul>
</nav>

<h2>About</h2>

<h2>About Page</h2>

