
@{
    ViewBag.Title = "Contact";
}


<nav>
    <ul>
        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
        <li>@Html.ActionLink("Contact Page", "Contact", "Home")</li>
        <li>@Html.ActionLink("About Page", "About", "Home")</li>
    </ul>
</nav>
<h2>Contact</h2>
<h2>Contact Page</h2>

