
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<h3>View Data: @ViewData["Var1"]</h3>
<h3>View Bag: @ViewBag.Var2</h3>
<h3>Temp Data: @TempData["Var3"]</h3>

@*<ul>
@{ 
	foreach (string i in (string[])TempData["GamesArr"])
	{
		<li>@i</li>
	}
}
</ul>*@