
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_EmployeeList")
<br />
<br />
@{
    Html.RenderPartial("_EmployeeList");
}

@Html.Partial("_LoginPartialView")
<br />
<br />
@{
    Html.RenderPartial("_LoginPartialView");
}
<br />
<br />
<p>Differences</p>
@{
    var List = Html.Partial("_EmployeeList");
    List = new MvcHtmlString("<h3>Here is Employee list</h3>" + List.ToString());
}
@List
<br />
<br />
@{ 
    Html.RenderPartial("_EmployeeList");
}