
@{
    ViewBag.Title = "Error2";
}

<h2>Error 2 Page</h2>
<h1 class="alert alert-danger text-danger">!!!!!!!!!!!!!!!Error New!!!!!!!!!!!!!!!!</h1>
<h1 class="alert alert-danger text-danger">!!!!!!!!!!!!!!!New Error!!!!!!!!!!!!!!!!</h1>
